<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liberty.exchange.mapper.wallet.ExchangeUserWalletMapper">
    <resultMap id="BaseResultMap" type="com.liberty.exchange.entity.pojo.wallet.ExchangeUserWallet">
        <id column="id" property="id"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="private_key" property="privateKey" jdbcType="VARCHAR"/>
        <result column="balance" property="balance" jdbcType="DECIMAL"/>
        <result column="nonce" property="nonce" jdbcType="DECIMAL"/>
        <result column="coin_name" property="coinName" jdbcType="VARCHAR"/>
        <result column="coin_type" property="coinType" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectWalletByUserAndCoinName" resultType="com.liberty.exchange.entity.pojo.wallet.ExchangeUserWallet">
        select * from exchange_user_wallet where user_id=#{userId} and coin_name=#{coinName}
    </select>

    <select id="selectWalletByUserAndCoinType" resultType="com.liberty.exchange.entity.pojo.wallet.ExchangeUserWallet">
        select * from exchange_user_wallet where user_id=#{userId} and coin_type=#{coinType}
    </select>

    <select id="selectWalletByAddressAndCoinName" resultType="com.liberty.exchange.entity.pojo.wallet.ExchangeUserWallet">
        select * from exchange_user_wallet where address=#{address} and coin_name=#{coinName}
    </select>

    <select id="selectWalletsByCoinName" resultMap="BaseResultMap">
        select * from exchange_user_wallet where coin_name=#{coinName}
    </select>

    <select id="selectWalletsByCinType" resultType="string">
        select address from exchange_user_wallet where coin_type=#{coinType}
    </select>

    <update id="updateUserBalance">
        update exchange_user_wallet set balance=#{balance} where coin_name=#{coinName} and address=#{address}
    </update>

    <update id="updateUserNonce">
        update
        exchange_user_wallet
        set nonce=nonce+1
        where address=#{address} and coin_type=#{coinType}
    </update>

    <update id="updateNonce">
        update
        exchange_user_wallet
        set nonce=#{nonce}
        where address=#{address} and coin_type=#{coinType}
    </update>

    <update id="updateUserUsdtBalance">
        UPDATE exchange_user_wallet
        SET balance=balance - #{balance}
        WHERE id = #{id}
        AND <![CDATA[balance >= #{balance}
        ]]>
    </update>
</mapper>