<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liberty.exchange.mapper.wallet.ExchangeScanRecordMapper">

    <update id="updateBlockHeight">
        update
        exchange_scan_record
        set
        height=height+1,
        update_time=NOW()
        where
        coin_name=#{coinName}
    </update>
</mapper>